/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: castoro;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 2em; 
	font-weight: 700;
	margin: 0.2em;
}

h2 {
	font-size: 1.5em; 
	font-weight: 700;
	margin: 0.5em 0em 0.5em 0em;
}

h3 {
	font-size: 1.2em; 
	font-weight: 600;
	margin-bottom: 0.2em;
}

p{
	margin: 0.2em 0em 0.2em 0em;
	
}

figcaption {
	color: #797979;
}
